{% extends 'base.html.twig' %}

{% block title %}modifier mot passe user
{% endblock %}

{% block body %}
	<div class="modifier-mot-passe" style="margin:20rem 8%">
		<div class="content">
			<h1>Modifier votre mot de passe</h1>
			{%  if notification %}
				<div class="alert alert-warning">
					{{ notification }}
				</div>
			{% endif %}

			{{ form(form) }}
				<div class="modifier_mot_passe">
					<a href="{{ path('account') }}">retourner dans votre compte
					</a>
				</div>


			</div>

		</div>

	{% endblock %}
